<header>
    <div class="container">
        <div class="header-content">
            <a href="#" class="logo">
                <div class="highspot-logo">
                    <div class="mountain-icon">
                        <div class="mountain"></div>
                        <div class="snow"></div>
                        <div class="flag">
                            <div class="flag-pole"></div>
                            <div class="flag-part"></div>
                        </div>
                    </div>
                    HIGHSPOT POKER
                </div>
            </a>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Coaching</a></li>
                    <li><a href="#">Success Stories</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <a href="#" class="btn">Start Your Journey</a>
        </div>
    </div>
</header> 